/* .card-container{

  float:left;
  padding: 15px;

  width: 40%;
  height:80%;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;

} */

/* form{
  position: relative;

} */
h1{
  text-align: center;
}
form button {
    font-family: Arial;
    width:max-content;
    /* position: absolute; */
    /* border-color: #428bca; */
    /* background-color: rgb(245, 123, 17); */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin-bottom: 3px;
  }




.card-container div{
  width:150%;
  margin: 25px;
  margin-top: 5px;
}

.card-container div input{
  width:fit-content;
}
.note{
  margin:0;
  padding:0;
}
.card-container p {
  font-weight:500;
  color: blue;
  margin:0;
  padding:0;
}
/* .card-container span{
  font-size: large;
} */
.card-container label{
  font-weight: bold;

}
.main{
  width:500px;
  height: 500px;
  padding:10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  /* height: 100%; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
}


