
.item-table{
  margin-bottom: 10px;
  /* border-bottom: 1px solid currentColor; */
  background-color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  height:80px;
}
input{
  width:40px;
}
td{
  padding-left: 5px;
}
.total_price,.qty{
  width:150px;
}
.name{
  width:100px;
  text-align: left;
}
button{
  width:40px;
  height: 40px;
}
.button{
  width:40px;
  height: 40px;
  text-align: center;
  align-items: center;
}


